/* app/client/index.less */

@font-face {
  font-family: "gibsonBold";
  font-weight: normal;
  src: url("http://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff") format("woff"),
       url("http://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.ttf") format("truetype"),
       url("http://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.svg") format("svg");
}

//import bootstrap
@import "bootstrap.less";


// rules

html { min-height: 100%; }

body {
  background-image: url('/images/bg-VM.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat no-repeat;
  background-position: 50% 0;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

.container {
  &.layout {
    margin-top:60px;
  }

  .row {
    margin-top: 20px;
  }
}

#logo {
  background-image:url("http://www.dr.dk/assets/img/sprites/dr-logo-tv-sprite-large.0a9a412.png");
  background-position:-348px 0;
  display:block;
  height:24px;
  width:81px;
  text-indent:-9999px;
  margin-top:12px;
  margin-right:10px;
}

.page-header {
  text-align: center;
  border:none;
  margin:0;
}

.navbar-notifications {
  &.navbar-text {
    margin-top:0;
    margin-bottom:0;
    padding-top:14px;
    padding-bottom:14px;
  }
  .dropdown-menu > li {
    border-bottom:1px solid @gray-lighter;
    > span {
      clear: both;
      color: #4D4D4D;
      display: block;
      font-weight: normal;
      line-height: 1.42857;
      padding: 3px 20px;
      white-space: nowrap;
    }
  }
}

.session-buttons {
  margin: auto;
  max-width: 300px;

  .or {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .hline { text-decoration: line-through; color: lightgrey; }
  .or-text { font-weight: bold; }
}

#highscore-table {
  thead {
    background-color: #f5f5f5;
  }
}

audio.asset, .assets {
  display: none;
}

[data-sd-quiz-progressbar] {
  display: none;
}

#alternative-container {
  margin: 14px;
  display: none;
}

@countdown-normal-from: 15em;
@countdown-normal-to: 6em;

@-webkit-keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}
@-moz-keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}
@-o-keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}
@keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}

.sound-duel-countdown {
  display: none;

  // Speed up animations on iPhone and Android (force GPU acceleration)
  // See: http://chrissilich.com/blog/fix-css-animation-slow-or-choppy-in-mobile-browsers/
  -webkit-transform: translateZ(0);

  -webkit-animation : countdown-animation 1s ease 4;
  -moz-animation    : countdown-animation 1s ease 4;
  -o-animation      : countdown-animation 1s ease 4;
  animation         : countdown-animation 1s ease 4;

  text-align: center;
  font-size: @countdown-normal-to;

  height:      300px;
  line-height: 300px;
}

@countdown-smaller-from: 8em;
@countdown-smaller-to: 4em;

@-webkit-keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}
@-moz-keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}
@-o-keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}
@keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}

.sound-duel-countdown.smaller {
  -webkit-animation : countdown-animation-smaller 1s ease 1;
  -moz-animation    : countdown-animation-smaller 1s ease 1;
  -o-animation      : countdown-animation-smaller 1s ease 1;
  animation         : countdown-animation-smaller 1s ease 1;

  text-align: center;
  font-size: @countdown-smaller-to;

  height:      300px;
  line-height: 300px;
}

// @media only screen and (max-width: @screen-sm-max) {
//  	@import "../custom-tiny.less";
// }

// @media only screen and (min-width: @screen-sm-min) {
// 	@import "../custom-small.less";
// }

@media only screen and (min-width: @screen-sm-min) {
	body {
		background-image: url('/images/bg-VM-lg.jpg');
	}
}
