/* app/client/index.less */

//import bootstrap
@import "bootstrap.less";

// variables

@banner-margin: 15px;

// rules

html { min-height: 100%; }

body {
  background-image: url('/images/grass.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 60px;

  .row {
    margin-top: 20px;
  }
}

#logo {
  position: absolute;
  left: @banner-margin;
  top: @banner-margin;

  img {
    width: 100px;
  }

  img {
    content:url("/images/dr-logo.svg");
  }
}

#heading {
  text-align: center;
  margin-bottom: 20px;
}

#username-form {
  margin: auto;
  max-width: 300px;
}

#highscores {
  position: absolute;
  top: @banner-margin;
  right: @banner-margin;
}

#highscore-table {
  thead {
    background-color: #f5f5f5;
  }
  tbody {
    background: white;
  }
}

audio.asset, .assets {
  display: none;
}

#alternative-container {
  margin: 14px;
  display: none;
}


@-webkit-keyframes countdown-animation {
  from { font-size: 15em; }
  to   { font-size: 6em; }
}
@-moz-keyframes countdown-animation {
  from { font-size: 15em; }
  to   { font-size: 6em; }
}
@-o-keyframes countdown-animation {
  from { font-size: 15em; }
  to   { font-size: 6em; }
}
@keyframes countdown-animation {
  from { font-size: 15em; }
  to   { font-size: 6em; }
}

.sound-duel-countdown {
  -webkit-animation : countdown-animation 1s ease 4;
  -moz-animation    : countdown-animation 1s ease 4;
  -o-animation      : countdown-animation 1s ease 4;
  animation         : countdown-animation 1s ease 4;

  text-align: center;
  font-size: 6em;

  height:      300px;
  line-height: 300px;
}






